/* /src/index.css */

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Import the VT323 font */
@font-face {
  font-family: 'VT323';
  src: url('/fonts/VT323-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* Global Styles */
body {
  @apply bg-darkGreen text-terminalGreen font-terminal;
  margin: 0;
  padding: 0;
  overflow: hidden; /* No scroll */
}

/* Enable scrolling only on the Privacy Policy page */
body.scrollable {
  overflow: auto;
}

/* Hero Section */
.hero-section {
  @apply relative w-full h-screen;
}

.hero-image {
  @apply w-full h-full object-cover;
}

.hero-overlay {
  @apply flex items-center z-10;
}

.glitch {
  @apply z-20; /* Ensures the text overlay is on top */
}

/* Additional Styles for links and buttons */
a {
  @apply text-terminalGreen;
}

a:hover {
  @apply text-white;
}

input,
button {
  @apply bg-transparent border border-terminalGreen text-terminalGreen placeholder-terminalGreen;
}

button {
  @apply font-bold hover:bg-terminalGreen hover:text-darkGreen;
}
